<launch>

  <arg name="urdf_path" default="$(find mums_assistant)/urdf/mums_assistant.urdf" />

  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!-- Load Gazebo with Empty World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Spawn URDF in Gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0" respawn="false" output="screen" />

  <include file="$(find mums_assistant_config)/launch/ros_controllers.launch"/>

  <!-- Launch the Controller for the Robot in Gazebo -->
  <rosparam file ="$(find mums_assistant_config)/config/controllers.yaml"/>

  <node name= "controller_spawner" pkg="controller_manager" type="spawner" args="arm_joint_controller"/>


</launch>

<!-- Load the controllers -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller"/> -->