<launch>

    <!-- Launch mums_assistant in gazebo -->
    <include file="$(find mums_assistant_config)/launch/gazebo.launch"/>

    <!-- Launch moveit group node -->
    <include file="$(find mums_assistant_config)/launch/move_group.launch"/>

    <!-- Run Rviz and load the default config to see the state of move_group -->
    <arg name="use_rviz" default="true" />

    <include file="$(find mums_assistant_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find mums_assistant)/config/rviz/saved_config.rviz" />
    </include>

    <!-- Add Kitchen Table Top to Moveit! Planning Scene in RViz -->
    <arg name="scene_file" default="$(find mums_assistant)/config/scene/kitchen_and_tools.scene"/>
    <node name="moveit_publish_scene_from_text" pkg="moveit_ros_planning" type="moveit_publish_scene_from_text" args="$(arg scene_file)"/>

    <!--This node contains test code -->
    <!-- <node name="node_mums_assistant_arm" pkg="mums_assistant" type="testcode.py" output="screen"/> -->

    <!--This node contains test code 2 -->
    <!-- <node name="node_mums_assistant_gripper" pkg="mums_assistant" type="testcode2.py" output="screen"/> -->

</launch>